@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 8%;
    --foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 7 96% 29%;
    --primary-foreground: 0 0% 98%;

    --secondary: 7 99% 40%;
    --secondary-foreground: 0 0% 9%;

    --muted: 7 96% 20%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 40% 20%;
    --primary-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Desktop font sizes */
    --font-size-h1: 6.375rem;
    --font-size-h2: 5.125rem;
    --font-size-h2-5: 3.875rem;
    --font-size-h3: 2.125rem;
    --font-size-quote: 2.625rem;
    --font-size-body: 1.15rem;

    /* Mobile font sizes */
    --font-size-h1-mobile: 2rem;
    --font-size-h2-mobile: 2.625rem;
    --font-size-h3-mobile: 2.125rem;
    --font-size-quote-mobile: 1.625rem;
    --font-size-body-mobile: 1rem;
  }

  .hyperdrive {
    --background: 0 0% 8%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 121, 100%, 50%;
    --primary-foreground: 0 0% 97%;

    --secondary: 140, 80%, 31%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /* Desktop font sizes */
    --font-size-h1: 5.5rem;
    --font-size-h2: 5.125rem;
    --font-size-h3: 2.125rem;
    --font-size-quote: 2.625rem;
    --font-size-body: 1.25rem;

    /* Mobile font sizes */
    --font-size-h1-mobile: 2rem;
    --font-size-h2-mobile: 2.625rem;
    --font-size-h3-mobile: 2rem;
    --font-size-quote-mobile: 1.625rem;
    --font-size-body-mobile: 1rem;
  }

  /* a {
    @apply text-primary underline underline-offset-2 hover:opacity-80;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  body {
    @apply bg-background text-primary-foreground overflow-x-hidden relative font-sans sm:text-body text-body-mobile;
  }

  h1 {
    @apply sm:text-h1 font-semibold font-secondary text-h1-mobile leading-none;
  }

  h2 {
    @apply text-h2 leading-none font-semibold font-secondary;
  }

  h3 {
    @apply text-h3 font-semibold font-primary;
  }

  p {
    @apply text-body font-primary font-normal;
  }

  b {
    @apply font-semibold;
  }

  a {
    @apply underline underline-offset-2 hover:opacity-80;
  }
}

@layer components {
}

@layer utilities {
  .cols-2 {
    @apply container py-24 flex flex-col gap-6 justify-center sm:flex-row sm:justify-between items-center;
  }
}
